body{
    text-align: center;
    color: indigo;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding:  0;
}



#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    background: white;
    padding: 1em;
}

#footer
{
    background: #37488b;
    color: white;
    text-align: center;
    padding: 0.5em;
}
